--
-- PostgreSQL database dump
--

\restrict cUg1GHUrerpjMjtApGlhYcxN6Nrr1POJbEUdsaa1sE1URat4CUulylfSQi4qCBb

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: restaurant_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO restaurant_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: restaurant_user
--

CREATE TABLE public.categories (
    category_id integer NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public.categories OWNER TO restaurant_user;

--
-- Name: categories_category_id_seq; Type: SEQUENCE; Schema: public; Owner: restaurant_user
--

CREATE SEQUENCE public.categories_category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_category_id_seq OWNER TO restaurant_user;

--
-- Name: categories_category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: restaurant_user
--

ALTER SEQUENCE public.categories_category_id_seq OWNED BY public.categories.category_id;


--
-- Name: category; Type: TABLE; Schema: public; Owner: restaurant_user
--

CREATE TABLE public.category (
    category_id integer NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public.category OWNER TO restaurant_user;

--
-- Name: category_category_id_seq; Type: SEQUENCE; Schema: public; Owner: restaurant_user
--

CREATE SEQUENCE public.category_category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.category_category_id_seq OWNER TO restaurant_user;

--
-- Name: category_category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: restaurant_user
--

ALTER SEQUENCE public.category_category_id_seq OWNED BY public.category.category_id;


--
-- Name: menu_items; Type: TABLE; Schema: public; Owner: restaurant_user
--

CREATE TABLE public.menu_items (
    item_id integer NOT NULL,
    name character varying NOT NULL,
    description character varying,
    price double precision NOT NULL,
    image_url character varying,
    category_id integer NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.menu_items OWNER TO restaurant_user;

--
-- Name: menu_items_item_id_seq; Type: SEQUENCE; Schema: public; Owner: restaurant_user
--

CREATE SEQUENCE public.menu_items_item_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.menu_items_item_id_seq OWNER TO restaurant_user;

--
-- Name: menu_items_item_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: restaurant_user
--

ALTER SEQUENCE public.menu_items_item_id_seq OWNED BY public.menu_items.item_id;


--
-- Name: menuitem; Type: TABLE; Schema: public; Owner: restaurant_user
--

CREATE TABLE public.menuitem (
    item_id integer NOT NULL,
    name character varying NOT NULL,
    description character varying,
    price double precision NOT NULL,
    image_url character varying,
    category_id integer NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.menuitem OWNER TO restaurant_user;

--
-- Name: menuitem_item_id_seq; Type: SEQUENCE; Schema: public; Owner: restaurant_user
--

CREATE SEQUENCE public.menuitem_item_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.menuitem_item_id_seq OWNER TO restaurant_user;

--
-- Name: menuitem_item_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: restaurant_user
--

ALTER SEQUENCE public.menuitem_item_id_seq OWNED BY public.menuitem.item_id;


--
-- Name: order; Type: TABLE; Schema: public; Owner: restaurant_user
--

CREATE TABLE public."order" (
    order_id integer NOT NULL,
    customer_id integer NOT NULL,
    total_amount double precision NOT NULL,
    status character varying NOT NULL,
    assigned_rider_id integer,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public."order" OWNER TO restaurant_user;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: restaurant_user
--

CREATE TABLE public.order_items (
    id integer NOT NULL,
    order_id integer NOT NULL,
    item_id integer NOT NULL,
    quantity integer NOT NULL,
    price_each double precision NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.order_items OWNER TO restaurant_user;

--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: restaurant_user
--

CREATE SEQUENCE public.order_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_items_id_seq OWNER TO restaurant_user;

--
-- Name: order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: restaurant_user
--

ALTER SEQUENCE public.order_items_id_seq OWNED BY public.order_items.id;


--
-- Name: order_order_id_seq; Type: SEQUENCE; Schema: public; Owner: restaurant_user
--

CREATE SEQUENCE public.order_order_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_order_id_seq OWNER TO restaurant_user;

--
-- Name: order_order_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: restaurant_user
--

ALTER SEQUENCE public.order_order_id_seq OWNED BY public."order".order_id;


--
-- Name: order_status_history; Type: TABLE; Schema: public; Owner: restaurant_user
--

CREATE TABLE public.order_status_history (
    id integer NOT NULL,
    order_id integer NOT NULL,
    old_status character varying,
    new_status character varying NOT NULL,
    changed_at timestamp without time zone NOT NULL
);


ALTER TABLE public.order_status_history OWNER TO restaurant_user;

--
-- Name: order_status_history_id_seq; Type: SEQUENCE; Schema: public; Owner: restaurant_user
--

CREATE SEQUENCE public.order_status_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_status_history_id_seq OWNER TO restaurant_user;

--
-- Name: order_status_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: restaurant_user
--

ALTER SEQUENCE public.order_status_history_id_seq OWNED BY public.order_status_history.id;


--
-- Name: orderitem; Type: TABLE; Schema: public; Owner: restaurant_user
--

CREATE TABLE public.orderitem (
    id integer NOT NULL,
    order_id integer NOT NULL,
    item_id integer NOT NULL,
    quantity integer NOT NULL,
    price_each double precision NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.orderitem OWNER TO restaurant_user;

--
-- Name: orderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: restaurant_user
--

CREATE SEQUENCE public.orderitem_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orderitem_id_seq OWNER TO restaurant_user;

--
-- Name: orderitem_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: restaurant_user
--

ALTER SEQUENCE public.orderitem_id_seq OWNED BY public.orderitem.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: restaurant_user
--

CREATE TABLE public.orders (
    order_id integer NOT NULL,
    customer_id integer NOT NULL,
    order_number character varying NOT NULL,
    total_amount double precision NOT NULL,
    status character varying NOT NULL,
    assigned_rider_id integer,
    restaurant_name character varying,
    restaurant_address character varying,
    restaurant_lat double precision,
    restaurant_lng double precision,
    customer_name character varying,
    customer_address character varying,
    customer_lat double precision,
    customer_lng double precision,
    rider_earning double precision NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.orders OWNER TO restaurant_user;

--
-- Name: orders_order_id_seq; Type: SEQUENCE; Schema: public; Owner: restaurant_user
--

CREATE SEQUENCE public.orders_order_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orders_order_id_seq OWNER TO restaurant_user;

--
-- Name: orders_order_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: restaurant_user
--

ALTER SEQUENCE public.orders_order_id_seq OWNED BY public.orders.order_id;


--
-- Name: orderstatushistory; Type: TABLE; Schema: public; Owner: restaurant_user
--

CREATE TABLE public.orderstatushistory (
    id integer NOT NULL,
    order_id integer NOT NULL,
    old_status character varying,
    new_status character varying NOT NULL,
    changed_at timestamp without time zone NOT NULL
);


ALTER TABLE public.orderstatushistory OWNER TO restaurant_user;

--
-- Name: orderstatushistory_id_seq; Type: SEQUENCE; Schema: public; Owner: restaurant_user
--

CREATE SEQUENCE public.orderstatushistory_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orderstatushistory_id_seq OWNER TO restaurant_user;

--
-- Name: orderstatushistory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: restaurant_user
--

ALTER SEQUENCE public.orderstatushistory_id_seq OWNED BY public.orderstatushistory.id;


--
-- Name: payment; Type: TABLE; Schema: public; Owner: restaurant_user
--

CREATE TABLE public.payment (
    payment_id integer NOT NULL,
    order_id integer NOT NULL,
    method character varying NOT NULL,
    amount double precision NOT NULL,
    status character varying NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.payment OWNER TO restaurant_user;

--
-- Name: payment_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: restaurant_user
--

CREATE SEQUENCE public.payment_payment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payment_payment_id_seq OWNER TO restaurant_user;

--
-- Name: payment_payment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: restaurant_user
--

ALTER SEQUENCE public.payment_payment_id_seq OWNED BY public.payment.payment_id;


--
-- Name: payments; Type: TABLE; Schema: public; Owner: restaurant_user
--

CREATE TABLE public.payments (
    payment_id integer NOT NULL,
    order_id integer NOT NULL,
    method character varying NOT NULL,
    amount double precision NOT NULL,
    status character varying NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.payments OWNER TO restaurant_user;

--
-- Name: payments_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: restaurant_user
--

CREATE SEQUENCE public.payments_payment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payments_payment_id_seq OWNER TO restaurant_user;

--
-- Name: payments_payment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: restaurant_user
--

ALTER SEQUENCE public.payments_payment_id_seq OWNED BY public.payments.payment_id;


--
-- Name: rider_profiles; Type: TABLE; Schema: public; Owner: restaurant_user
--

CREATE TABLE public.rider_profiles (
    profile_id integer NOT NULL,
    user_id integer NOT NULL,
    full_name character varying NOT NULL,
    phone_number character varying NOT NULL,
    vehicle_details character varying NOT NULL,
    current_lat double precision NOT NULL,
    current_lng double precision NOT NULL,
    is_online boolean NOT NULL,
    rating double precision NOT NULL
);


ALTER TABLE public.rider_profiles OWNER TO restaurant_user;

--
-- Name: rider_profiles_profile_id_seq; Type: SEQUENCE; Schema: public; Owner: restaurant_user
--

CREATE SEQUENCE public.rider_profiles_profile_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rider_profiles_profile_id_seq OWNER TO restaurant_user;

--
-- Name: rider_profiles_profile_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: restaurant_user
--

ALTER SEQUENCE public.rider_profiles_profile_id_seq OWNED BY public.rider_profiles.profile_id;


--
-- Name: user; Type: TABLE; Schema: public; Owner: restaurant_user
--

CREATE TABLE public."user" (
    user_id integer NOT NULL,
    name character varying NOT NULL,
    email character varying NOT NULL,
    password_hash character varying NOT NULL,
    role character varying NOT NULL,
    phone character varying NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public."user" OWNER TO restaurant_user;

--
-- Name: user_user_id_seq; Type: SEQUENCE; Schema: public; Owner: restaurant_user
--

CREATE SEQUENCE public.user_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_user_id_seq OWNER TO restaurant_user;

--
-- Name: user_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: restaurant_user
--

ALTER SEQUENCE public.user_user_id_seq OWNED BY public."user".user_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: restaurant_user
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    name character varying NOT NULL,
    email character varying NOT NULL,
    password_hash character varying NOT NULL,
    role character varying NOT NULL,
    phone character varying NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO restaurant_user;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: restaurant_user
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO restaurant_user;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: restaurant_user
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: categories category_id; Type: DEFAULT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.categories ALTER COLUMN category_id SET DEFAULT nextval('public.categories_category_id_seq'::regclass);


--
-- Name: category category_id; Type: DEFAULT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.category ALTER COLUMN category_id SET DEFAULT nextval('public.category_category_id_seq'::regclass);


--
-- Name: menu_items item_id; Type: DEFAULT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.menu_items ALTER COLUMN item_id SET DEFAULT nextval('public.menu_items_item_id_seq'::regclass);


--
-- Name: menuitem item_id; Type: DEFAULT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.menuitem ALTER COLUMN item_id SET DEFAULT nextval('public.menuitem_item_id_seq'::regclass);


--
-- Name: order order_id; Type: DEFAULT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public."order" ALTER COLUMN order_id SET DEFAULT nextval('public.order_order_id_seq'::regclass);


--
-- Name: order_items id; Type: DEFAULT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.order_items ALTER COLUMN id SET DEFAULT nextval('public.order_items_id_seq'::regclass);


--
-- Name: order_status_history id; Type: DEFAULT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.order_status_history ALTER COLUMN id SET DEFAULT nextval('public.order_status_history_id_seq'::regclass);


--
-- Name: orderitem id; Type: DEFAULT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.orderitem ALTER COLUMN id SET DEFAULT nextval('public.orderitem_id_seq'::regclass);


--
-- Name: orders order_id; Type: DEFAULT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.orders ALTER COLUMN order_id SET DEFAULT nextval('public.orders_order_id_seq'::regclass);


--
-- Name: orderstatushistory id; Type: DEFAULT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.orderstatushistory ALTER COLUMN id SET DEFAULT nextval('public.orderstatushistory_id_seq'::regclass);


--
-- Name: payment payment_id; Type: DEFAULT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.payment ALTER COLUMN payment_id SET DEFAULT nextval('public.payment_payment_id_seq'::regclass);


--
-- Name: payments payment_id; Type: DEFAULT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.payments ALTER COLUMN payment_id SET DEFAULT nextval('public.payments_payment_id_seq'::regclass);


--
-- Name: rider_profiles profile_id; Type: DEFAULT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.rider_profiles ALTER COLUMN profile_id SET DEFAULT nextval('public.rider_profiles_profile_id_seq'::regclass);


--
-- Name: user user_id; Type: DEFAULT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public."user" ALTER COLUMN user_id SET DEFAULT nextval('public.user_user_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: restaurant_user
--

COPY public.categories (category_id, name) FROM stdin;
1	Burgers
2	Pizza
3	Drinks
\.


--
-- Data for Name: category; Type: TABLE DATA; Schema: public; Owner: restaurant_user
--

COPY public.category (category_id, name) FROM stdin;
1	Burgers
2	Pizza
3	Drinks
\.


--
-- Data for Name: menu_items; Type: TABLE DATA; Schema: public; Owner: restaurant_user
--

COPY public.menu_items (item_id, name, description, price, image_url, category_id, created_at) FROM stdin;
1	Cheese Burger	Classic juicy cheese burger	500		1	2025-12-15 01:31:42.575948
2	Zinger Burger	Crispy chicken zinger with spice	650		1	2025-12-15 01:31:42.576091
3	Chicken Pizza	12-inch chicken pizza with cheese	1200		2	2025-12-15 01:31:42.57614
4	Cola Drink	Chilled cola drink	80		3	2025-12-15 01:31:42.576175
5	BBQ Pizza	Hot BBQ sauce, Steamy BBQ chicken, mozzarella cheese and peppers 	1200		2	2025-12-15 03:04:32.063124
\.


--
-- Data for Name: menuitem; Type: TABLE DATA; Schema: public; Owner: restaurant_user
--

COPY public.menuitem (item_id, name, description, price, image_url, category_id, created_at) FROM stdin;
1	Cheese Burger	Classic juicy cheese burger	500		1	2025-12-07 22:59:11.260299
2	Zinger Burger	Crispy chicken zinger with spice	650		1	2025-12-07 22:59:11.260431
3	Chicken Pizza	12-inch chicken pizza with cheese	1200		2	2025-12-07 22:59:11.261743
4	Cola Drink	Chilled cola drink	80		3	2025-12-07 22:59:11.263363
\.


--
-- Data for Name: order; Type: TABLE DATA; Schema: public; Owner: restaurant_user
--

COPY public."order" (order_id, customer_id, total_amount, status, assigned_rider_id, created_at) FROM stdin;
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: restaurant_user
--

COPY public.order_items (id, order_id, item_id, quantity, price_each, created_at) FROM stdin;
15	8	2	2	650	2025-12-15 02:34:14.948243
16	8	1	1	500	2025-12-15 02:34:14.967228
17	8	4	1	80	2025-12-15 02:34:14.97723
18	9	2	2	650	2025-12-15 02:38:55.888966
19	9	3	1	1200	2025-12-15 02:38:55.900405
20	10	5	2	1200	2025-12-15 03:05:44.261338
21	10	4	3	80	2025-12-15 03:05:44.276283
\.


--
-- Data for Name: order_status_history; Type: TABLE DATA; Schema: public; Owner: restaurant_user
--

COPY public.order_status_history (id, order_id, old_status, new_status, changed_at) FROM stdin;
\.


--
-- Data for Name: orderitem; Type: TABLE DATA; Schema: public; Owner: restaurant_user
--

COPY public.orderitem (id, order_id, item_id, quantity, price_each, created_at) FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: restaurant_user
--



--
-- Data for Name: orderstatushistory; Type: TABLE DATA; Schema: public; Owner: restaurant_user
--

COPY public.orderstatushistory (id, order_id, old_status, new_status, changed_at) FROM stdin;
\.


--
-- Data for Name: payment; Type: TABLE DATA; Schema: public; Owner: restaurant_user
--

COPY public.payment (payment_id, order_id, method, amount, status, created_at) FROM stdin;
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: restaurant_user
--

COPY public.payments (payment_id, order_id, method, amount, status, created_at) FROM stdin;
\.


--
-- Data for Name: rider_profiles; Type: TABLE DATA; Schema: public; Owner: restaurant_user
--

COPY public.rider_profiles (profile_id, user_id, full_name, phone_number, vehicle_details, current_lat, current_lng, is_online, rating) FROM stdin;
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: restaurant_user
--

COPY public."user" (user_id, name, email, password_hash, role, phone, created_at) FROM stdin;
1	Admin User	admin@example.com	$2b$12$7gRrtgGpKmBbr56V5.7bbe5aGocMx5UZa4zQ61Dmg4gipPa3iYa5W	admin	0000000000	2025-12-07 22:59:10.505561
2	Rider User	rider@example.com	$2b$12$fj5iwlnaGmlfsDp/ewGnceYZiNgCncpdU929VYJyZByd23krisdjC	rider	1111111111	2025-12-07 22:59:10.809366
3	Customer User	customer@example.com	$2b$12$PCxmTBt52qjp2/rWlR8JKeDHm34SF.l.nSFyswI7.tVViSaamLotu	customer	2222222222	2025-12-07 22:59:11.095841
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: restaurant_user
--



--
-- Name: categories_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: restaurant_user
--

SELECT pg_catalog.setval('public.categories_category_id_seq', 3, true);


--
-- Name: category_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: restaurant_user
--

SELECT pg_catalog.setval('public.category_category_id_seq', 3, true);


--
-- Name: menu_items_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: restaurant_user
--

SELECT pg_catalog.setval('public.menu_items_item_id_seq', 5, true);


--
-- Name: menuitem_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: restaurant_user
--

SELECT pg_catalog.setval('public.menuitem_item_id_seq', 4, true);


--
-- Name: order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: restaurant_user
--

SELECT pg_catalog.setval('public.order_items_id_seq', 21, true);


--
-- Name: order_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: restaurant_user
--

SELECT pg_catalog.setval('public.order_order_id_seq', 1, false);


--
-- Name: order_status_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: restaurant_user
--

SELECT pg_catalog.setval('public.order_status_history_id_seq', 4, true);


--
-- Name: orderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: restaurant_user
--

SELECT pg_catalog.setval('public.orderitem_id_seq', 1, false);


--
-- Name: orders_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: restaurant_user
--

SELECT pg_catalog.setval('public.orders_order_id_seq', 10, true);


--
-- Name: orderstatushistory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: restaurant_user
--

SELECT pg_catalog.setval('public.orderstatushistory_id_seq', 1, false);


--
-- Name: payment_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: restaurant_user
--

SELECT pg_catalog.setval('public.payment_payment_id_seq', 1, false);


--
-- Name: payments_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: restaurant_user
--

SELECT pg_catalog.setval('public.payments_payment_id_seq', 3, true);


--
-- Name: rider_profiles_profile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: restaurant_user
--

SELECT pg_catalog.setval('public.rider_profiles_profile_id_seq', 1, false);


--
-- Name: user_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: restaurant_user
--

SELECT pg_catalog.setval('public.user_user_id_seq', 3, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: restaurant_user
--

SELECT pg_catalog.setval('public.users_user_id_seq', 5, true);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (category_id);


--
-- Name: category category_pkey; Type: CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_pkey PRIMARY KEY (category_id);


--
-- Name: menu_items menu_items_pkey; Type: CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.menu_items
    ADD CONSTRAINT menu_items_pkey PRIMARY KEY (item_id);


--
-- Name: menuitem menuitem_pkey; Type: CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.menuitem
    ADD CONSTRAINT menuitem_pkey PRIMARY KEY (item_id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: order order_pkey; Type: CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public."order"
    ADD CONSTRAINT order_pkey PRIMARY KEY (order_id);


--
-- Name: order_status_history order_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.order_status_history
    ADD CONSTRAINT order_status_history_pkey PRIMARY KEY (id);


--
-- Name: orderitem orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.orderitem
    ADD CONSTRAINT orderitem_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (order_id);


--
-- Name: orderstatushistory orderstatushistory_pkey; Type: CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.orderstatushistory
    ADD CONSTRAINT orderstatushistory_pkey PRIMARY KEY (id);


--
-- Name: payment payment_pkey; Type: CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT payment_pkey PRIMARY KEY (payment_id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (payment_id);


--
-- Name: rider_profiles rider_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.rider_profiles
    ADD CONSTRAINT rider_profiles_pkey PRIMARY KEY (profile_id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (user_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: ix_orders_order_number; Type: INDEX; Schema: public; Owner: restaurant_user
--

CREATE INDEX ix_orders_order_number ON public.orders USING btree (order_number);


--
-- Name: menu_items menu_items_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.menu_items
    ADD CONSTRAINT menu_items_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(category_id);


--
-- Name: menuitem menuitem_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.menuitem
    ADD CONSTRAINT menuitem_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.category(category_id);


--
-- Name: order order_assigned_rider_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public."order"
    ADD CONSTRAINT order_assigned_rider_id_fkey FOREIGN KEY (assigned_rider_id) REFERENCES public."user"(user_id);


--
-- Name: order order_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public."order"
    ADD CONSTRAINT order_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public."user"(user_id);


--
-- Name: order_items order_items_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.menu_items(item_id);


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(order_id);


--
-- Name: order_status_history order_status_history_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.order_status_history
    ADD CONSTRAINT order_status_history_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(order_id);


--
-- Name: orderitem orderitem_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.orderitem
    ADD CONSTRAINT orderitem_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.menuitem(item_id);


--
-- Name: orderitem orderitem_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.orderitem
    ADD CONSTRAINT orderitem_order_id_fkey FOREIGN KEY (order_id) REFERENCES public."order"(order_id);


--
-- Name: orders orders_assigned_rider_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_assigned_rider_id_fkey FOREIGN KEY (assigned_rider_id) REFERENCES public.users(user_id);


--
-- Name: orders orders_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.users(user_id);


--
-- Name: orderstatushistory orderstatushistory_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.orderstatushistory
    ADD CONSTRAINT orderstatushistory_order_id_fkey FOREIGN KEY (order_id) REFERENCES public."order"(order_id);


--
-- Name: payment payment_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT payment_order_id_fkey FOREIGN KEY (order_id) REFERENCES public."order"(order_id);


--
-- Name: payments payments_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(order_id);


--
-- Name: rider_profiles rider_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: restaurant_user
--

ALTER TABLE ONLY public.rider_profiles
    ADD CONSTRAINT rider_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO restaurant_user;


--
-- PostgreSQL database dump complete
--

\unrestrict cUg1GHUrerpjMjtApGlhYcxN6Nrr1POJbEUdsaa1sE1URat4CUulylfSQi4qCBb

